body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.eui-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 26px;
  background-color: #647EEC;
  color: #FFFFFF;
  border-radius: 20px;
}
.eui-button:focus,
.eui-button:active,
.eui-button:hover {
  outline: none;
  background-color: #3758e6;
}
